@model List<Product>

<h1>PRODUCTS</h1>
<table class="table table-bordered table-striped">
	<thead>
		<tbody>
			@foreach (var product in Model)
			{
			<tr>
				<td>
						@product.Name
				</td>
				<td>
						@product.Price Euros
				</td>
				<td>
						@product.Description
				</td>
				<td>
					<div>
						<a asp-controller="Product" asp-action="Edit" asp-route-id="@product.Id" class="btn btn-primary mx-2">
							Edit
						</a>
					</div>
				</td>
				<td>
					<div>
						<a asp-controller="Product" asp-action="Delete" asp-route-id="@product.Id" class="btn btn-primary mx-2">
							Delete
						</a>
					</div>
				</td>
			</tr>
			}
		</tbody>
	</thead>
</table>

<a asp-action="Create" class="btn btn-primary">
	Create Product
</a>


