@model List<Product>

<h1>PRODUCTS</h1>
<div>
	<label class="col-10"> Name of the Product</label>
</div>
<div>
	<label class="col-11"> Price of the Product</label>
</div>
<div>
	<label class="col-12"> Description of the Product</label>
</div>
<div>
	<label class="col-13"> Category of the Product</label>
</div>
<table class="table table-bordered table-striped">
	
	<tbody>
			@foreach (var product in Model)
			{
			<tr>
				<td>
						@product.Name
				</td>
				<td>
						@product.Price Euros
				</td>
				<td>
						@product.Description
				</td>
				<td>
						@product.CategoryId
				</td>
				<td>
					<div>
						
					</div>
					<div>
						<a asp-controller="Product" asp-action="Upsert" asp-route-id="@product.Id" class="btn btn-primary mx-2">
							Edit
						</a>
					</div>
				</td>
				<td>
					<div>
						<a asp-controller="Product" asp-action="Delete" asp-route-id="@product.Id" class="btn btn-primary mx-2">
							Delete
						</a>
					</div>
				</td>
			</tr>
			}
	</tbody>
	
</table>
<a asp-action="Upsert" class="btn btn-primary">
	Create Product
</a>




